/*Welcomebanner*/
.welcomeMain {
  display: flex;
  align-items: center;
  justify-content: center;
}
.imgcontainer {
  width: 100%;
  max-width: 1920px;
  overflow: hidden;
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: hidden;
  height: 500px;
}
.imgWelcome {
  position: fixed;
  max-width: 1920px;
  height: 100%;
  z-index: -1;
}
.msgcontainer {
  position: absolute;
  justify-content: center;
  align-items: center;
  display: flex;
}
.mensageWelcome {
  z-index: 2;
  width: 1400px;
}

/*News*/

.NewsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  z-index: 2;
  position: relative;
  background-color: white;
}
.Adm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.BtnEdit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
}
.BtnEdit p {
  width: 100%;
  text-align: center;
  border: 1px solid rgb(122, 122, 122);
  border-radius: 5px;
  cursor: pointer;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(119, 119, 119);
}
.InputNoticia {
  font-size: 10px;
  padding: 10px;
  height: 10px;
}
.InputNoticia:focus {
  outline: none;
}
/*NewsComponente*/

.imgNews {
  width: 100%;
  height: 100%;
  display: flex;
  transition: all 0.5s;
  transform: scale(1.01);
}

.NoticiaMensagem {
  font-size: 17px;
  font-weight: 400;

  display: "flex";
  word-wrap: break-word;
}

/*PlayerCard*/

.MainCard {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  position: relative;
  transition: all 0.3s;
  cursor: pointer;
  background-color: transparent;
  zoom: 1;
}

.cardImg {
  width: 300px;
}

.atributo {
  position: absolute;
  font-size: 25px;
}
.overall {
  left: 22%;
  top: 16%;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
}
.posicao {
  left: 20%;
  top: 24%;
  font-size: 18px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
}
.picContainer {
  height: 40%;
  top: 13.5%;
  right: 13%;
  align-items: center;
  display: flex;
  width: 150px;
  justify-content: center;
}
.playerpic {
  height: 100%;
}
.nomeJogador {
  bottom: 36%;
  font-weight: 300;
}

.pac {
  left: 14%;
  bottom: 26%;
  width: 50px;
  text-align: end;
}
.sho {
  bottom: 19%;
  left: 14%;
  width: 50px;
  text-align: end;
}
.pas {
  left: 14%;
  width: 50px;
  text-align: end;
  bottom: 12%;
}
.dri {
  right: 33%;
  bottom: 26%;
  width: 50px;
  text-align: end;
}
.def {
  right: 33%;
  bottom: 19%;
  width: 50px;
  text-align: end;
}
.phy {
  right: 33%;
  bottom: 12%;
  width: 50px;
  text-align: end;
}

/*Calendario*/

.MainCalendario {
  background-color: rgb(245, 245, 245);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 70px;
  gap: 20px;
}
.ConfrontoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}
/*Banner*/
.BannerSave {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.241);
  display: flex;
  align-items: center;
  justify-content: center;
  top: 5px;
  right: 5px;
  width: 70px;
  border-radius: 5px;
}

/*Confronto*/
.Confronto {
  background-color: white;
  width: 300px;
  height: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  gap: 5px;
  transition: all 0.3s;
}
.Confronto:hover {
  background-color: rgb(237, 237, 237);
  transform: scale(1.01);
}

.TipoConfronto {
  position: relative;
  font-size: 20px;
  display: flex;

  flex-direction: column;
  align-items: center;
}

.LogoDosTime {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 250px;
}
.LogotimePartidaContainer {
  width: 120px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logoTimeConfronto {
  width: 100%;
}

.SpanConfronto {
  font-size: 15px;
  font-weight: 300;
  margin: 1px;
}

/*HeaderSection*/

.NomeSecao {
  font-size: 23px;
  font-weight: 400;
}
.HeaderSectionMain {
  width: 100%;
  max-width: 950px;
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}
.VermaisBtn {
  background-color: var(--corazul);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 40px;
  border-radius: 10px;
}

/*AdmCriarConfronto*/

.Combobox {
  width: 250px;
  height: 40px;
  padding: 10px;
}
.Combobox.EscolherTime {
  width: 100%;
}
.Combobox:focus {
  outline: none;
}
/*AdmCriartime*/
.BotoesCriarTime {
  display: flex;
  width: 250px;
  gap: 10px;
}
.BotoesCriarTime p {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: var(--corazul);
  border-radius: 5px;
}

/*Resultados Section*/
.ResultadosSectionMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  gap: 30px;
}
.ContainerPartidasEstatisticas {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.PartidasFinalizadas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  max-width: 700px;
}

/*PartidaFinalizada*/
.mainPartidaFinalizada {
  width: 300px;
}
.ContainerInfoPartidaFinalizada {
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid black;
  border-radius: 10px;
}
.TimePartidaFinalizada {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.TimesPartidaFinalizada {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.NomeTimePartidaFinalizada {
  width: 100px;
  font-size: 10px;
}
.ImagemTimePartidaFinalizada {
  width: 40px;
}
.PlacarPartidasFinalizada {
  display: flex;
  flex-direction: column;
  gap: 35px;
  position: relative;
  font-size: 10px;
}
.PlacarPartidasFinalizada::after {
  content: "";
  height: 100%;
  position: absolute;
  width: 2px;
  background-color: black;
  right: -20px;
}
.DataPartidaFinalizada {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.DataPartidaFinalizada {
  font-size: 10px;
}
/*JogadoresSecao*/
.JogadoresSecaoMain {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}
.navbarJogadores {
  display: flex;
  gap: 10px;
}
.filtroporposicao {
  width: 150px;
  padding: 10px;
}
.barraPesquisa {
  width: 500px;
  padding: 10px;
  height: 50px;
}

.filtroporposicao:focus,
.barraPesquisa:focus,
.BotaoPesquisarJogador:focus {
  outline: none;
}
.BotaoPesquisarJogador {
  width: 50px;
  background-color: var(--corazul);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
}
.ListarJogadores {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  gap: 20px;
}
.glowBagreDeOuro {
  width: 800px;
}

.newsSwipe {
  height: 400px;

  width: 700px;
  justify-content: center;
  display: flex;
  align-items: center;
}
.newsSwipe:hover .imgNews {
  transform: scale(1.05);
}
.noticiaSombra {
  height: 400px;
  background-image: linear-gradient(to top, #000000ac, transparent);
  transition: all 0.5s;
}
.newsSwipe:hover .noticiaSombra {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.826), transparent);
}
.swipeee {
  position: relative;
  height: 400px;

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.fotosDaSecaoDeFotos {
  height: 500px;
}
.grafico {
  zoom: 1;
}
.bagredeourocard {
  zoom: 1;
}
.NewsComponents {
  gap: 50px;
  margin: 20px;
}

@media (max-width: 1550px) {
  .glowBagreDeOuro {
    width: 500px;
  }
}
@media (max-width: 1550px) {
  .glowBagreDeOuro {
    width: 400px;
  }
}
@media (max-width: 1214px) {
  .glowBagreDeOuro {
    width: 300px;
  }
}
@media (max-width: 1149px) {
  .NewsContainer {
    padding-bottom: 20px;
  }
  .Estatisticas {
    margin-top: 50px;
  }
}
@media (max-width: 1089px) {
  .glowBagreDeOuro {
    width: 700px;
 
  }
}

@media (max-width: 1000px) {
  .Estatisticas {
    pointer-events: none;
  }
}
@media (max-width: 850px) {
  .glowBagreDeOuro {
    width: 600px;
  }
  .NoticiaMensagem {
    font-size: 12px;
  }
  .newsSwipe {
    width: 500px;
    height: 100%;
  }
  .swipeee {
    height: 280px;
  }
  .noticiaSombra {
    opacity: 80%;
  }
  .fotosDaSecaoDeFotos {
    height: 400px;
  }
  .grafico {
    zoom: 0.7;
  }
  .imgNews {
    transform: scale(1);
  }
}

@media (max-width: 650px) {
  .glowBagreDeOuro {
    width: 500px;
  }
  .bagredeourocard {
    zoom: 1.6;
  }

  .barraPesquisa {
    width: 300px;
    padding: 10px;
    height: 30px;
    font-size: 10px;
  }
  .MainCard {
    zoom: 0.6;
  }
  .fotosDaSecaoDeFotos {
    height: 300px;
  }
  .NomeSecao {
    font-size: 16px;
  }
  .HeaderSectionMain {
    height: 50px;
    justify-content: space-around;
  }
  .VermaisBtn {
    width: 100px;
    height: 30px;
    font-size: 12px;
    border-radius: 5px;
  }
  .imgcontainer {
    height: 300px;
  }
}
@media (max-width: 520px) {
  .glowBagreDeOuro {
    width: 400px;
  }
  .bagredeourocard {
    zoom: 2;
  }
  .NoticiaMensagem {
    font-size: 10px;
  }
  .MainCard {
    zoom: 0.4;
  }

  .newsSwipe {
    width: 100vw;
    height: 100%;
  }
  .NewsComponents {
    gap: 10px;
    margin: 0;
  }
  .swipeee {
    width: 100vw;
    height: 100%;
  }
  .noticiaSombra {
    height: 100%;
  }
  .fotosDaSecaoDeFotos {
    height: 200px;
  }
  .barraPesquisa {
    width: 200px;
  }
  .grafico {
    zoom: 0.5;
  }
}

@media (max-width: 450px) {
  .glowBagreDeOuro {
    width: 380px;
  }
  .imgcontainer {
    height: 200px;
  }
}
@media (max-width: 380px) {
  .bagredeourocard {
    zoom: 1.5;
  }
  .glowBagreDeOuro {
    width: 300px;
  }
}
